{% extends 'base.html' %}

{% block title %}R_bin{% endblock %}

{% block navbar %}
<nav class="navbar">
  <!-- Your navigation links go here -->
  <ul>
    <li><a href="#" id="back-to-top">Back to Top</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<main>
  <!-- Your blog posts go here -->
  <div class="intro">
    <h1>Hey, I am R_bin</h1>
    <p>好想吃豬排飯<br><br>
      ㄏㄞˊ錢ㄏㄞˊ錢ㄏㄞˊ錢ㄏㄞˊ錢ㄏㄞˊ錢ㄏㄞˊ錢<br><br>
      寫給自己看的，我盡量寫正確</p>
  </div>
  <div class="articleIntro">
    <h2>我的文章</h2>
  </div>
  <hr>
  {% for doc in all_doc %}
  <div class="articleContainer">
    <a href="/web_page/article/{{doc.id}}">
      <div class="articleContainer-left">
        2023-12-7
      </div>
      <div class="articleContainer-right">
        {{doc.title}}
      </div>
    </a>
  </div>
  {% endfor %}

  <!-- Add more articles as needed -->
</main>
{% endblock %}