{% extends 'base.html' %}

{% block title %}LaTeX 筆記{% endblock %}

{% block content %}
<main>
  <!-- Your blog posts go here -->
  <article>
    <h1>LaTeX 筆記</h1>
    <p>Latex語法可以用來編寫複雜的數學式，數學技術文章或論文常見的上下標、總和運算、邏輯運算元等，都能使用LaTeX語法編輯與排版。
    </p>
    <h2>編寫基本方程式</h2>
    <p>This is a displayed equation:</p>
    <div>
      \[ f(x) = \int_{-\infty}^{\infty} e^{-x^2} \, dx \]
    </div>
    <p></p>
  </article>

  <!-- Add more articles as needed -->
</main>
{% endblock %}

{% block footer %}
<footer>
  <p>&copy; 2023-All rights reserved.R_bin</p>
</footer>
<script type="text/javascript">
  MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
</script>
{% endblock %}